#page-search {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border: 0px;
}

#page-search header {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-search header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  border: 0px;
  display: flex;
  align-items: center;
}

#page-search fieldset {
  margin-top: 50px;
  min-inline-size: auto;
  border: 0;
}

.points-grid {
  list-style: none;
  display: grid;
  padding: 22px 18px 12px;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.points-grid li {
  background: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: center;
  border: 0px;
}

.points-grid li span {
  flex: 1;
  margin-top: 8px;

  display: flex;
  align-items: center;
  color: black;
  border: 0px;
}

#page-search h4 {
  color: #34CB79;
}